<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis_spring.mapper.UserMapper">

    <select id="findById" parameterType="int" resultType="mybatis_spring.po.User">
        SELECT * FROM `user` WHERE id = #{id}
    </select>

    <select id="fuzzyFindByName" parameterType="java.lang.String" resultType="mybatis_spring.po.User">
        SELECT * FROM `user` WHERE name like '%${value}%'
    </select>

    <insert id="insertUser" parameterType="mybatis_spring.po.User">
        INSERT INTO `user` (name,age,gender,address) VALUES (#{name},#{age},#{gender},#{address})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO `user` (name,age,gender,address) VALUES
        <foreach collection="list" item="user" separator=",">
            (#{user.name},#{user.age},#{user.gender},#{user.address})
        </foreach>
    </insert>
</mapper>